.title {
  display: grid;
  place-items: center;
  /*   place-content: center; */
  min-height: 100vh;
  color: white;
}

.title h1 {
  font-size: 200px;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 1s step-end infinite;
}
