@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  display: grid;
  place-items: center;
  /*   place-content: center; */
  min-height: 100vh;
  color: white;
  animation: blink-effect 1s step-end infinite;
  margin-top: 200px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  --foreground: white;
  --background: black;
  background: var(--background);
}

.overlay {
  background: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.white {
  background: var(--background);
}

svg path {
  stroke: red;
}
