.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  gap: 10rem;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  text-align: center;
  overflow-y: auto;
}

.img {
  // width: 50vmin;
  width: 20vmin;
  margin-top: 15vmin;
}

.item01 svg path {
  stroke: #ffc300;
  stroke-width: 2;
}

.item02 svg path {
  stroke: #d51920;
  stroke-width: 2;
  transition: fill 0.5s ease-in-out;
}

.item02 .img:hover {
  fill: #d51920;
}

.pf_texts {
  font-family: sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0 40px;
  color: white;
}
